.menu__item {
    list-style: none;
}

.menu__item:last-child a {
    margin-right: 0;
}
.menu__item.ativo {
    color: #333333;
    font-weight: bold;
}

.menu__item:hover {
    text-decoration: underline;
}